
// Colors
$primary: #08b595;
$primary-dark: #066c5a;
$button-text: #ffffff;
$shadow-color: rgba(20, 10, 2, 0.3);
$simple-background: #ffffff;
$placeholder-color: #cecece;


//Common parametres
$border-raduis: 7px;
$text-align: left,center,right;

//Font sizes
$primary-font-size: 1rem;
$super-big-font-size: 4.2rem;
$bigger-font-size: 1.2rem;
$smaller-font-size: 0.8rem;
$medium-font-size: 1.456rem;
$placeholder-font-size: 0.72rem;

//font-families
$boldFont: "ProximaNovaBold";
$regularFont: "ProximaNovaRegular";
$semiboldFont: "ProximaNovaSemibold";

// Breakpoints
$bp-small: 768px;
$bp-medium: 1024px;
$bp-large: 1366px;
$bp-xlarge: 1920px;
$bp-xxlarge: 2560px;

// Media Queries
$mq-small: "(max-width: #{$bp-small})";
$mq-medium: "(max-width: #{$bp-medium})";
$mq-large: "(max-width: #{$bp-large})";
$mq-xlarge: "(max-width: #{$bp-xlarge})";
$mq-xxlarge: "(max-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2)";

@import url( 'https://fonts.googleapis.com/css?family=PT+Sans:700');

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../../fonts/Proxima-Nova-Bold_0.otf");
}

@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../../fonts/Proxima-Nova-Semibold_0.otf");
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../../fonts/Proxima-Nova-Regular_0.otf");
}

:root {
  font-size: 25px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

body {
  font-size: $primary-font-size;
  font-family: $regularFont, sans-serif
  min-width: 320px;
}
// HEADER component
.header {
  box-shadow: 0 6px 16px $shadow-color;
  text-align: center;
  padding: 40px 0 85px;
  background-image: url("../../../images/cover-image.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  font-weight: bold;
  font-size: 4.2rem;
  margin: 30px auto 0;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  opacity: 0.95;
  mix-blend-mode: luminosity;
}

.header__text {
  font-size: $bigger-font-size;
  font-family: $regularFont;
}
// DIVIDER component
.divider--primary {
  border-top: 1px solid $primary;
  width: 67%;
  margin: 20px auto 40px;
}

.divider--complex {
  width: 43px;
  height: 23px;
  margin: 30px auto;
  padding: 0 12px;
  position: relative;
  background-image: url("../../../images/zerna-01.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 23px;
  background-color: #e1f6f2;
}

.divider--complex::before {
  content: "";
  border-top: 1px solid #066c5a;
  display: inline-block;
  width: 320px;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// INFO component
.info::after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}

.info__logo {
  float: left;
  width: 170px;
}

.info__contacts {
  float: right;
  text-align: right;
  font-size: $smaller-font-size;
}

.info__contacts-element {
  margin: 0;
}
// BUTTON component
.button {
  background-color: $primary;
  border: none;
  border-bottom: 5px solid $primary-dark;
  border-radius: $border-raduis;
  padding: 20px 30px;
  color: $button-text;
  font-size: $bigger-font-size;
}

.button--centered {
  margin: 0 auto;
}

.header .button {
  margin-top: 85px;
}
// CONTAINER component
.container--main {
  background-color: rgba($primary, 0.12);
}
// CONTENT component

.content {
  padding-top: 120px;
}

.content:last-of-type {
  padding-bottom: 120px;
}

.content__heading {
  text-align: center;
  text-transform: uppercase;
  font-family: $semiboldFont;
  font-size: $medium-font-size;
  margin: 0;
}

.content__text {
  text-align: center;
}

.content__number-heading {
  text-align: center;
  font-size: $medium-font-size;
  color: $primary-dark;
}

.content__square-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content__square {
  background: $simple-background;
  box-shadow: inset 0 0 0 10px $simple-background, inset 0 0 0 11px $primary-dark, 0 0 25px 5px $shadow-color;
  padding: 50px 15px;
  height: 100%;
  flex-grow: 1;
  flex-basis: 100%;
}

.content__square--spacing {
  margin-top: 50px;
}


.content__big-heading {
  font-size: $super-big-font-size;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
// ROUND-ICON component
.round-icon {
  margin-top: 70px;
  float: none;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.round-icon__icon {
  width: 26%;
  margin: 0 auto;
  display: block;
}

.round-icon__caption {
  text-align: center;
  margin-top: 20px;
}
// SLIDER component
.slider {
  width: 100%;
  background: $simple-background;
  box-shadow: 0 0 18px 5px $shadow-color;
  padding: 25px 0 10px;
}

.slider .container {
  padding: 0;
}
// FORM component
.feedback-form__element {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid $primary-dark;
  border-radius: $border-raduis;
}

.feedback-form__element:focus {
  outline: none;
  box-shadow: 0 0 15px 0 $primary-dark;
}

.feedback-form__submit {
  text-align: center;
}

:-moz-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
  color: $placeholder-color;
  font-size: $placeholder-font-size;
}

.footer {
  box-shadow: 0 0 15px 0 $shadow-color;

  background-image: url(../../../images/cover-image.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 240px 0 35px 0;
}

@for $i from 1 through length($text-align){
    .footer__contact:nth-of-type(#{$i}){
        text-align: nth($text-align, $i);
    }
}

@media #{$mq-retina} {
  :root {
    font-size: 16px;
  }
}

@media #{$mq-small} {
  // :root {
  //   font-size: 25px;
  // }

  .round-icon__icon {
    width: 56%;
  }

  .footer .footer__contact {
    text-align: center;
  }
}
