@import url("https://fonts.googleapis.com/css?family=PT+Sans:700");
@font-face {
  font-family: "ProximaNovaBold";
  src: url("../../fonts/Proxima-Nova-Bold_0.otf"); }

@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../../fonts/Proxima-Nova-Semibold_0.otf"); }

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../../fonts/Proxima-Nova-Regular_0.otf"); }

:root {
  font-size: 25px; }

.col-centered {
  float: none;
  margin: 0 auto; }

body {
  font-size: 1rem;
  font-family: "ProximaNovaRegular", sans-serif; }

.header {
  box-shadow: 0 6px 16px rgba(20, 10, 2, 0.3);
  text-align: center;
  padding: 40px 0 85px;
  background-image: url("../../../images/cover-image.png");
  background-position: center bottom;
  background-repeat: no-repeat; }

.header__title {
  font-weight: bold;
  font-size: 4.2rem;
  margin: 30px auto 0;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  opacity: 0.95;
  mix-blend-mode: luminosity; }

.header__text {
  font-size: 1.2rem;
  font-family: "ProximaNovaRegular"; }

.divider--primary {
  border-top: 1px solid #08b595;
  width: 67%;
  margin: 20px auto 40px; }

.divider--complex {
  width: 43px;
  height: 23px;
  margin: 30px auto;
  padding: 0 12px;
  position: relative;
  background-image: url("../../../images/zerna-01.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 23px;
  background-color: #e1f6f2; }

.divider--complex::before {
  content: "";
  border-top: 1px solid #066c5a;
  display: inline-block;
  width: 320px;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.info::after {
  content: "";
  width: 100%;
  display: block;
  clear: both; }

.info__logo {
  float: left;
  width: 170px; }

.info__contacts {
  float: right;
  text-align: right;
  font-size: 0.8rem; }

.info__contacts-element {
  margin: 0; }

.button {
  background-color: #08b595;
  border: none;
  border-bottom: 5px solid #066c5a;
  border-radius: 7px;
  padding: 20px 30px;
  color: #ffffff;
  font-size: 1.2rem; }

.button--centered {
  margin: 0 auto; }

.header .button {
  margin-top: 85px; }

.container--main {
  background-color: rgba(8, 181, 149, 0.12); }

.content {
  padding-top: 120px; }

.content:last-of-type {
  padding-bottom: 120px; }

.content__heading {
  text-align: center;
  text-transform: uppercase;
  font-family: "ProximaNovaSemibold";
  font-size: 1.456rem;
  margin: 0; }

.content__text {
  text-align: center; }

.content__number-heading {
  text-align: center;
  font-size: 1.456rem;
  color: #066c5a; }

.content__square-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.content__square {
  background: #ffffff;
  box-shadow: inset 0 0 0 10px #ffffff, inset 0 0 0 11px #066c5a, 0 0 25px 5px rgba(20, 10, 2, 0.3);
  padding: 50px 15px;
  height: 100%;
  flex-grow: 1;
  flex-basis: 100%; }

.content__square--spacing {
  margin-top: 50px; }

.content__big-heading {
  font-size: 4.2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold; }

.round-icon {
  margin-top: 70px;
  float: none;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top; }

.round-icon__icon {
  width: 26%;
  margin: 0 auto;
  display: block; }

.round-icon__caption {
  text-align: center;
  margin-top: 20px; }

.slider {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0 18px 5px rgba(20, 10, 2, 0.3);
  padding: 25px 0 10px; }

.slider .container {
  padding: 0; }

.feedback-form__element {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #066c5a;
  border-radius: 7px; }

.feedback-form__element:focus {
  outline: none;
  box-shadow: 0 0 15px 0 #066c5a; }

.feedback-form__submit {
  text-align: center; }

:-moz-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
  color: #cecece;
  font-size: 0.72rem; }

.footer {
  box-shadow: 0 0 15px 0 rgba(20, 10, 2, 0.3);
  background-image: url(../../../images/cover-image.png);
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
  padding: 240px 0 35px 0; }

@media (-webkit-min-device-pixel-ratio: 2) {
  :root {
    font-size: 16px; } }
